page {
  .hot-title {
    margin-top: 10rpx;
    font-size: 32rpx;
    font-weight: bold;
    line-height: 30rpx;
    color: #fff;
    border-left: 5px solid #b11b1b;
    padding-left: 10rpx;
    margin: 40rpx 0;
  }
  swiper {
    swiper-item {
      view {
        display: flex;
        // align-items: center;
        justify-content: flex-start;
        image {
          width: 120rpx;
          height: 120rpx;
          margin: 15rpx;
        }
        .txt {
          display: flex;
          flex-direction: column;
          line-height: 50rpx;
          width: 500rpx;
          color: white;
          .name {
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}
